*__pycache__/*
*.pyc
*.egg-info/*
*.zip
/build/*
/dist/*
/analysis/lib/*.c
/analysis/lib/*.so

.env
.env.*

data/inputs/boundaries/*
data/inputs/se_blueprint_indicators/*
!data/inputs/se_blueprint_indicators/README.md
data/inputs/nlcd/*
data/inputs/threats/slr/*
!data/inputs/threats/slr/README.md
data/inputs/threats/urban/*
!data/inputs/threats/urban/README.md

/source_data/nlcd/*
!/source_data/nlcd/README.md
/source_data/slr/*
/source_data/urban/*

/ui/node_modules

/examples/*